// @font-face {
//     font-family: 'NewJuneExtrabold';
//     src: url('../assets/fonts/NewJuneExtrabold.eot');
//     src: url('../assets/fonts/NewJuneExtrabold.eot') format('embedded-opentype'),
//          url('../assets/fonts/NewJuneExtrabold.woff2') format('woff2'),
//          url('../assets/fonts/NewJuneExtrabold.woff') format('woff'),
//          url('../assets/fonts/NewJuneExtrabold.ttf') format('truetype'),
//          url('../assets/fonts/NewJuneExtrabold.svg#NewJuneExtrabold') format('svg');
// }



@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype'),
}



* {
   font-family: 'Roboto' !important;
 }

// .platform-ios .manual-ios-statusbar-padding{
//   padding-top:20px;
// }
// .manual-remove-top-padding{
//   padding-top:0px;
// }
// .manual-remove-top-padding .scroll{
//   padding-top:0px !important;
// }
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
  margin-left:-10px;
  margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
  border-radius:0px;
  border-left:0px;
  border-right: 0px;
}
.show-list-numbers-and-dots ul{
  list-style-type: disc;
  padding-left:40px;
}
.show-list-numbers-and-dots ol{
  list-style-type: decimal;
  padding-left:40px;
}

.bold{
  font-weight: bold;
}
.img-responsive {
  width: 100%;
  height: auto;
}

.img-65{
  width: 65%;
}

.img-50 {
  width: 50%;
}

.img-20 {
  width: 20%;
}

.img-10 {
  width: 10%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-top-60 {
  padding-top: 60px !important;
}

.tabbed-button {
  margin: 0 !important;
  border-radius: 0 !important;
}

.medicBoxes{
  .animate-enter,
  .animate-leave
  {
      -webkit-transition: 350ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -moz-transition: 350ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -ms-transition: 350ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -o-transition: 350ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      transition: 350ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      position: relative;
      display: block;
  }

  .animate-enter.animate-enter-active,
  .animate-leave {
      opacity: 1;
      right: 0;
      height: 30px;
  }

  .animate-leave.animate-leave-active,
  .animate-enter {
      opacity: 0;
      right: -50px;
      height: 0px;
  }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


section {
	max-width: 450px;
	margin: 50px auto;

	div {
		max-width: 255px;
		word-wrap: break-word;
		margin-bottom: 20px;
    line-height: 24px;
	}
}

.clear {
  clear: both;
  padding-bottom: 5px;
}
.from-me {
	position:relative;
	padding:10px 10px;
	color: black;
	background: #11c1f3;
	border-radius:10px;
	float: right;
  margin-right: 10px;
  margin-top: 5px;
/*
	&:before {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:-2px;
		right:-7px;
		height:20px;
		border-right:20px solid #48C4F2;
		border-bottom-left-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:1;
		bottom:-2px;
		right:-56px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-left-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
  */
}

.from-me .msg-date {
  text-align: right;
}

.from-them {
	position:relative;
	padding:10px 10px;
	border-radius:10px;
  border:1px solid #7ad7f9;
	color: black;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
/*
	&:before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
  */
}

.from-them .msg-date {
  text-align: left;
}


.tag {
  font-size: 11px;
  background: #11c1f3;
  border-radius: 4px;
  padding: 1px 4px;
  text-align: center;
  display: inline-block;
  margin-right: 4px;
  color: #fff;
}


.aido-input {
  border: 0;
  padding-bottom: 0;
  padding-left: 0;
}


.aido-input > span.input-label , button {
  color: #387ef5;
  font-size: 24ems;
  font-weight: 600;
}

.aido-input > input,
.aido-input > textarea {
  // border-bottom: 1px solid #e4e6e8;
  padding-right:0;
  font-size: 30ems;
}


.aido-input > input::-webkit-input-placeholder, button::-webkit-input-placeholder,
.aido-input > textarea::-webkit-input-placeholder {
   color: #387ef5;
}

.aido-input > input:-moz-placeholder, button:-moz-placeholder,
.aido-input > textarea:-moz-placeholder { /* Firefox 18- */
   color: #387ef5;
}

.aido-input > input::-moz-placeholder, button::-moz-placeholder,
.aido-input > textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #387ef5;
}

.aido-input > input:-ms-input-placeholder, button:-ms-input-placeholder,
.aido-input > textarea:-ms-input-placeholder {
   color: #387ef5;
}

.aido-input.error > input::-webkit-input-placeholder, button::-webkit-input-placeholder,
.aido-input.error > textarea::-webkit-input-placeholder {
   color: rgb(215, 0, 0);
}

.aido-input.error > input:-moz-placeholder, button:-moz-placeholder,
.aido-input.error > textarea:-moz-placeholder { /* Firefox 18- */
   color: rgb(215, 0, 0);
}

.aido-input.error > input::-moz-placeholder, button::-moz-placeholder,
.aido-input.error > textarea::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(215, 0, 0);
}

.aido-input.error > input:-ms-input-placeholder, input:-ms-input-placeholder,
.aido-input.error > textarea:-ms-input-placeholder {
   color: rgb(215, 0, 0);
}

.aido-input > input:focus,
.aido-input > textarea:focus {
  border-bottom: 2px solid #387ef5;
}

.aido-input > input.add-border,
.aido-input > div.add-border,
.aido-input > textarea.add-border {
  border-bottom: 2px solid #387ef5;
}

.aido-input.error > input,
.aido-input.error > textarea {
  border-bottom: 2px solid rgb(215, 0, 0) !important;
}

.aido-input.error > span.input-label {
  color: rgb(215, 0, 0) !important;
}

.aido-input.error > input:focus,
.aido-input.error > textarea:focus {
  border-bottom: 2px solid rgb(215, 0, 0) !important;
}

.aido-input.error > .help-block {
  font-size: 12px;
  color: rgb(215, 0, 0);
}

.small-textarea {
  width: 300px;
  height: 50px;
}

.btn-bold {
  border-width: 1px;
  font-weight: 600;
}

.modal-select{
  border-bottom: 2px solid #387ef5;
}

.modal-select-blank{
  border-bottom: 2px solid transparent;
}

.modal-select-blank > i {
  float: right;
}
.modal-select > i {
  float: right;
}

.blue-divider {
  border: 0;
  background-color: #fff;
  color: #387ef5;
  border-bottom: 2px solid #387ef5;
  padding: 0;
  margin-bottom: 10px;
}

.no-padding {
  padding: 0;
}

.spacer-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.aido-text{
  color: #387ef5;
  text-align: center;
  font-size: 13px;
}

.aido-text > h4{
  color: #387ef5;
  font-size: 15px;
  font-weight: bold;
}

.aido-black-text{
  font-size: 12px;
}

.aido-grey-text{
  font-size: 12px;
  color: #b5b6b7;
}

.bottom-content{
  text-align: center;
  width: 100%;
  border-top: 2px solid #387ef5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.eliminateback{
  background-image:none;
}

// .top-chat {
//   position: absolute;
//   font-size: 13px;
//   border-bottom: 1px solid #387ef5;
//   height: 55px;
//   margin-bottom: 5px;
//   padding-top: 6px;
//   width: 100%;
//   margin-top: 40px;
//   left: 0;
// }

// .top-chat img, .top-chat span {
//     float:left;
//     margin-left: 10px;
// }

// .top-chat > img{
//   display: block;
//   width: 40px;
//   vertical-align:middle;
// }
.platform-ios .top-chat {
  position: relative;
  width: 100%;
  margin-top: 64px !important;
  padding-bottom: 5px;
  // padding-top: 5px;
}

.top-chat {
  position: relative;
  width: 100%;
  margin-top: 44px !important;
  padding-bottom: 5px;
  // padding-top: 5px;
}

.platform-ios .top-chat.notabs {
  margin-top: 64px !important;
}

.top-chat .top-chat.notabs {
  margin-top: 44px !important;
}

.top-chat .user-info {
  margin-top: 5px;
  display: inline-block;
  width: 70%;
  padding: 5px;
}

.top-chat > img{
  display: inline-block;
  width: 40px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 15px;
}

.chat-content {
  top: 115px !important;
}

.platform-ios .chat-content {
  top: 135px !important;
}

.nota{
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    color: #444;
}

.nota > p{
  padding-top: 20px;
}

.tabs {
  left: 0px;
}

.medicine-item{
  padding-top: 40px;
  border-bottom: 2px solid grey;
}


// .top-history {
//   position: absolute;
//   font-size: 13px;
//   border-bottom: 1px solid #387ef5;
//   height: 55px;
//   margin-bottom: 5px;
//   padding-top: 6px;
//   width: 100%;
//   margin-top: 40px;
//   left: 0;
// }

// .top-history img, .top-history span {
//     float:left;
//     margin-left: 10px;
// }

// .top-history > img{
//   display: block;
//   width: 40px;
//   vertical-align:middle;
// }

.platform-ios .top-history {
  position: relative;
  width: 100%;
  height: 55px;
  margin-top: 64px !important;
}

.top-history {
  position: relative;
  width: 100%;
  height: 55px;
  margin-top: 44px !important;
}

.top-history .user-info {
  margin-top: 5px;
  display: inline-block;
}

.top-history > img{
  display: inline-block;
  width: 40px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 15px;
}

.history-content {
  top: 108px !important;
}

.platform-ios .history-content {
  top: 128px !important;
}


.platform-ios .has-special-header {
  top: 165px !important;
  bottom: 45px;
}

.platform-ios .has-not-special-header {
  top: 121px !important;
  bottom: 45px;
}

.has-special-header {
  top: 155px !important;
  bottom: 45px;
}

.has-not-special-header {
  top: 110px !important;
  bottom: 45px;
}


.op{
  top: -5px;
  position: absolute;
  font-size: 24px;
  right: -5px;
  background-color: #fff;
  border-radius: 24px;
}

.thumbnail{
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 2px 4px;
}

.thumbnail-bg {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 2px 4px;
}

.thumbnail > img, .thumbnail-bg > img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail > img.portrait, .thumbnail-bg > img.portrait {
  width: 100%;
  height: auto;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: rgba(0, 0, 0, 0.7) !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}

.slider-pager .slider-pager-page {
  color: #fff !important;
}

.history-title{
  font-weight: bold;
}

.history-title > span {
  font-size: 12px;
  color: gray;
}

.ms-before{
  color: #387ef5 !important;
  font-weight: 400;
  padding-left: 0px;
  border-left: 0px;
}


.ms-after{
  color: #387ef5 !important;
  font-weight: 600 !important;
  padding-left: 0px;
  border-left: 0px;
  transition: opacity 0.15s ease-in, top 0.2s linear;
  font-size: 16px;
}

.modal-format > button{
  background-color: #387ef5!important;
  color: white !important;
  font-size: 16px !important;
}

.modal-format > div{
  text-align: right !important;
  right: 0px !important;
}

.modal-format > div > button {
  background-color: #387ef5!important;
  color: white !important;
  border-color: transparent !important;
  font-size: 16px !important;

}
.no-bottom-margin {
  margin-bottom: 0px;
}

.medic-info-container {
  margin-left: 20px;
}

.item-text-wrap{
  border-width: 0px;
}

.status-indicator {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 10px;
  text-align: center;
  margin: 2px auto;
  margin-bottom: 5px;
}

.status-indicator.on {
  background-color: #8cc63f;
}

.status-indicator.off {
  background-color: #A4A4A4;
}


.transparent-modal {
  //background: transparent !important;
  background: rgba(0, 0, 0, 0.4);
}
.image-modal-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image-modal {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.item-button-right > .button.preciosDoctores {
  font-size: 12px;
  padding: 0px 10px;
}

.hasHeader2 {
  top: 139px !important;
}

.relative  {
  position: relative;
}

// .aido-input > input[type="credit card"] {
//    border: 0;
//    border-bottom: 2px solid #387ef5;
// }