<ion-view title="Bienvenida">
  <ion-content padding="true" class="has-header">

    <div class="row" style="width: 80%;  margin: 0 auto;  margin-top: 40px;">
      <div class="col">
        <a style="display:block;" ui-sref="datosPersonales({ userId: newUserId, roleId: newRoleId })">
          <img src="main/assets/images/aido_hello_User.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <div class="aido-text">
          <h4>Cuentame sobre ti</h4>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <p class="aido-text">Vayamos creando tu perfil con calma para poder atender en menor tiempo y con la mayor informacion a la mano cuando requieras asistencia</p>
        <div class="spacer" style="width: 300px; height: 40px;"></div>

        <a ui-sref="datosPersonales({ userId: newUserId, roleId: newRoleId, avatar: selectedAvatar })" class="button button-positive button-block button-outline btn-bold">Siguiente</a>
      </div>

    </div>
  </ion-content>
</ion-view>
