<ion-view>
  <ion-nav-title>
    <span>{{vm.title}}</span>
  </ion-nav-title>

  <ion-nav-buttons side="right" class="has-header">
    <!--<button class="button button-icon icon ion-android-more-vertical" on-tap="goToHistory()"></button>-->
    <button class="button button-icon icon ion-android-more-vertical" on-tap="goToOptions($event)"></button>

  </ion-nav-buttons>

  <ion-content padding="false" class="has-header" delegate-handle="detail" on-scroll="checkBar()">

    <div class="creator-container">
      <div class="row no-padding">
        <div class="col no-padding" style="height: 100px;">

          <div class="item item-avatar" style="height: 100px; background-color: #387ef5; padding-top: 30px;">
            <img ng-src="{{caso.defaultAvatar}}" style="top: 30px;">
            <h2 style="color: #fff; font-size: 16px;">{{caso.name}}</h2>
            <p style="color: #fff; font-size: 13px;">Actualizado {{caso.updatedAt | dateFormat}}</p>
          </div>

        </div>
      </div>
    </div>

    <div class="creator-container">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">

          <div class="show-list-numbers-and-dots">
            <p style="color:#000000;margin-top: 10px;">
              <span ng-if="status === 'Caso Abierto'" style="color: #8cc63f;font-weight: 600;">{{ status }}</span>
              <span ng-if="status === 'Caso Cerrrado'" style="color: #8cc63f;font-weight: 600;">{{ status }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="vm.showMore" class="creator-container">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">

          <div class="show-list-numbers-and-dots">
            <p style="color:#000000;">
              <span style="color: #a2a2a2;">Descripción de Suceso</span>
              <br>{{caso.description}}
            </p>
          </div>

        </div>
      </div>
    </div>


    <div class="creator-container">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">

          <div class="show-list-numbers-and-dots">
            <p style="color:#000000;">
              <span style="color: #a2a2a2;">Sintomas</span>
              <ul style="list-style: none; margin: 0; padding: 0;">
                <li ng-repeat="s in caso.symptoms">{{s.name}}</li>
              </ul>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div ng-if="vm.showMore" class="creator-container">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">

          <div class="show-list-numbers-and-dots">
            <p style="color:#000000;">
              <span style="color: #a2a2a2;">Inicio de Sintomas</span>
              <br>{{caso.symptomsDate | dateFormat}}
            </p>
          </div>

        </div>
      </div>
    </div>

    <div ng-if="vm.showMore" class="creator-container">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">

          <div class="show-list-numbers-and-dots">
            <p style="color:#000000;">
              <span style="color: #a2a2a2;">Medicamentos no Controlados</span>
              <br>{{caso.currentMedicines}}
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="creator-container" ng-if="vm.showMore && caso.firebaseAttachments.length > 0">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <p style="color:#000000;">
            <span style="color: #a2a2a2; font-weight: 600;">Imagenes</span>
          </p>
        </div>
      </div>
      <div ng-repeat="arr in arrOfArr">
        <div class="row" style="width: 90%; margin: 0 auto;">
            <div class="thumbnail" ng-repeat="a in arr track by $index">
              <firebase-image firebase-ref="gs://aido-7e3d8.appspot.com/{{a}}" on-tap="showImage($event);"></firebase-image>
            </div>
        </div>
      </div>
    </div>

    <div class="creator-container">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col" ng-click="switchView()">
          <p style="color:#000000; text-align: right;">
            <span style="color: #a2a2a2; font-weight: 400;">{{vm.btn}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="creator-container">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <div class="show-list-numbers-and-dots">
            <p style="color:#000000;">
              <span style="color: #a2a2a2; font-weight: 600;">Consultas</span>
            </p>
          </div>

          <ion-list>
            <ion-item class="item item-avatar" collection-repeat="chat in caso.chats" style="border: 0;">
                <img ng-src="{{chat.participants[0].profile.defaultAvatar}}" on-tap="goToChat(chat.id)">
                <h2 on-tap="goToChat(chat.id)">{{chat.participants[0].name}} {{chat.participants[0].lastname}}</h2>
                <p on-tap="goToChat(chat.id)">{{chat.participants[0].email}}</p>
                <span style="position: absolute; top: 18px; right: 0px; text-align: center; width: 40px; z-index: 999;" on-tap="goToPrescription(chat)">
                  <span class="status-indicator" ng-class="{ 'on': chat.participants[0].onlineStatus, 'off': !chat.participants[0].onlineStatus }"></span>
                  <div ng-class="{'aido-text': chat.prescription.length >= 1, 'aido-grey-text': chat.prescription.length <= 0}">RX</div>
                </span>
                <span ng-if="chat.notifications > 0" class="badge badge-positive">{{chat.notifications}}</span>
            </ion-item>
          </ion-list>

          <h5 ng-if="caso.chats.length == 0" class="text-center" ng-if="!caso.chats.length">No hay consultas relacionadas al caso</h5>
        </div>
      </div>
    </div>

    <div class="creator-container" ng-if="roleIsPatient && status === 'Caso Abierto'">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <a class="button button-positive button-block button-outline btn-bold" on-tap="nuevaConsulta()">Nueva Consulta</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
