<ion-modal-view>

	<ion-header-bar class="bar bar-header bar-positive">
    	<h1 class="title">Detalle</h1>
      	<button class="button button-clear button-primary" ng-click="userModal.hide()">Cerrar</button>
    </ion-header-bar>

	<ion-content padding="false" class="has-header">

		<div class="spacer" style="width: 300px; height: 27px;"></div>
    	<div>
      		<img ng-src="{{otherUser.profile.defaultAvatar}}" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    	</div>
    	<div class="spacer" style="width: 300px; height: 13px;"></div>
    	<div id="detailMedicoConsulta-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      		<p class="aido-text no-bottom-margin" style="font-size: 20px;">{{otherUser.name}} {{otherUser.lastname}}</p>
      		<p class="no-bottom-margin" style="font-size: 16px;margin-top: 8px;color: gray;">{{age}} Años, IMC: {{otherUser.profile.bodyMassIndex}}</p>
      		<p on-tap="goToProfile()" class="aido-text no-bottom-margin" style="font-size: 13px; color: gray; margin-bottom: 4px; margin-top: 8px;">Mas Info...</p>
    	</div>

	    <div class="creator-container text-center">
	      <div class="row" style="width: 90%; margin: 0 auto;">
	        <div class="col">

	          <div class="show-list-numbers-and-dots">
	            <p style="color:#000000;margin-top: 10px;">
	              <span ng-if="status === 'Caso Abierto'" style="color: #8cc63f;font-weight: 600;">{{ status }}</span>
	              <span ng-if="status === 'Caso Cerrrado'" style="color: #8cc63f;font-weight: 600;">{{ status }}</span>
	            </p>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="creator-container">
	      <div class="row" style="width: 90%; margin: 0 auto;">
	        <div class="col">

	          <div class="show-list-numbers-and-dots">
	            <p style="color:#000000;">
	              <span style="color: #a2a2a2;">Descripción de Suceso</span>
	              <br>{{caso.description}}
	            </p>
	          </div>

	        </div>
	      </div>
	    </div>


	    <div class="creator-container">
	      <div class="row" style="width: 90%; margin: 0 auto;">
	        <div class="col">

	          <div class="show-list-numbers-and-dots">
	            <p style="color:#000000;">
	              <span style="color: #a2a2a2;">Sintomas</span>
	              <ul style="list-style: none; margin: 0; padding: 0;">
	                <li ng-repeat="s in caso.symptoms">{{s.name}}</li>
	              </ul>
	            </p>
	          </div>

	        </div>
	      </div>
	    </div>

	    <div class="creator-container">
	      <div class="row" style="width: 90%; margin: 0 auto;">
	        <div class="col">

	          <div class="show-list-numbers-and-dots">
	            <p style="color:#000000;">
	              <span style="color: #a2a2a2;">Inicio de Sintomas</span>
              	<br>{{caso.symptomsDate | dateFormat}}
	            </p>
	          </div>

	        </div>
	      </div>
	    </div>

	    <div class="creator-container">
	      <div class="row" style="width: 90%; margin: 0 auto;">
	        <div class="col">

	          <div class="show-list-numbers-and-dots">
	            <p style="color:#000000;">
	              <span style="color: #a2a2a2;">Medicamentos no Controlados</span>
	              <br>{{caso.currentMedicines}}
	            </p>
	          </div>

	        </div>
	      </div>
	    </div>

	    <div class="creator-container" ng-if="caso.firebaseAttachments.length > 0">
	      <div class="row" style="width: 90%; margin: 0 auto;">
	        <div class="col">
	          <p style="color:#000000;">
	            <span style="color: #a2a2a2; font-weight: 600;">Imagenes</span>
	          </p>
	        </div>
	      </div>
	      <div ng-repeat="arr in arrOfArr">
	        <div class="row" style="width: 90%; margin: 0 auto;">
	            <div class="thumbnail" ng-repeat="a in arr track by $index">
	              <firebase-image firebase-ref="gs://aido-7e3d8.appspot.com/{{a}}" on-tap="showImage($event);"></firebase-image>
	            </div>
	        </div>
	      </div>
	    </div>

	    <div class="creator-container" ng-if="caso.chats.length > 0">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <div class="show-list-numbers-and-dots">
            <p style="color:#000000;">
              <span style="color: #a2a2a2; font-weight: 600;">Consultas</span>
            </p>
          </div>

          <ion-list>
            <ion-item class="item item-avatar" ng-repeat="chat in caso.chats" style="border: 0;" ng-if="chat.participants[0].id == user.id">
                <img ng-src="{{chat.participants[0].profile.defaultAvatar}}" on-tap="goToChat(chat.id)">
                <h2 on-tap="goToChat(chat.id)">{{chat.participants[0].name}} {{chat.participants[0].lastname}}</h2>
                <p on-tap="goToChat(chat.id)">{{chat.participants[0].email}}</p>
                <span style="position: absolute; top: 18px; right: 15px; text-align: center;" on-tap="goToPrescriptionNoEdit(chat)">
                  <span class="status-indicator" style="width: 10px; height: 10px; background-color: #8cc63f; display: block; border-radius: 10px; text-align: center; margin: 2px auto; margin-bottom: 5px;"></span>
                  <div ng-class="{'aido-text': chat.prescription.length >= 1, 'aido-grey-text': chat.prescription.length <= 0}">RX</div>
                </span>
            </ion-item>
          </ion-list>

        </div>
      </div>
    </div>

	    </div>

	</ion-content>

</ion-modal-view>
