<ion-popover-view ng-style="{'height': popoverHeight }">
	<ion-content>
		<ion-lis>
			<ion-item on-tap="goToHistory()">
				Historial
			</ion-item>
			<ion-item ng-if="(isChatActive && !roleIsPatient)" on-tap="goToPrescription()">
				Recetar
			</ion-item>
			<ion-item ng-if="(isChatActive && !roleIsPatient)" on-tap="closeChat()">
				Cerrar Consulta
			</ion-item>
			<ion-item ng-if="(!isChatActive && !roleIsPatient)" on-tap="openChat()">
				Reabrir Consulta
			</ion-item>
			<ion-item on-tap="report()">
				Reportar Aido
			</ion-item>
		</ion-lis>
	</ion-content>
</ion-popover-view>
