<ion-view>
  <ion-nav-title>
    <span>{{chat.title}}</span>
  </ion-nav-title>

  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-more-vertical" on-tap="goToOptions($event)"></button>
  </ion-nav-buttons>

  <div class="bar bar-header" style="height: auto; padding: 0;">

    <div class="top-chat" ng-class="{ 'notabs': roleIsPatient }">
      <div ng-if="!roleIsPatient" class="button-bar">
        <button class="button button-block tabbed-button" ng-class="{ 'button-positive': tabIsChat, 'button-calm': !tabIsChat }" ng-click="switchTabs(true)" style="font-weight:600; height: 44px;font-size: 16px;">Chat</button>
        <button  class="button button-block tabbed-button"  ng-class="{ 'button-positive': !tabIsChat, 'button-calm': tabIsChat}" ng-click="switchTabs(false)" style="font-weight:600; height: 44px;font-size: 16px;">Notas</button>
      </div>
      <img ng-src="{{otherUser.profile.defaultAvatar}}" on-tap="goToMedicInfo()">
      <span class="user-info" on-tap="goToMedicInfo()">
        <span>{{otherUser.name}} {{otherUser.lastname}}</span>
        <br>
        <span ng-repeat="s in otherUser.specialties" style="color: #b5b6b7; margin-right: 5px;" ng-if="roleIsPatient">{{($last) ? s.name : s.name + ', '}}</span>
        <span style="color: #b5b6b7;" ng-if="!roleIsPatient">
          <span ng-if="age">{{age}} años,</span> IMC: {{ (otherUser.profile.bodyMassIndex != -1) ? otherUser.profile.bodyMassIndex : '-'}}
        </span>
      </span>
    </div>
  </div>

  <ion-content padding="false" class="has-header" ng-class="{ 'has-special-header': !roleIsPatient , 'has-not-special-header': roleIsPatient}" delegate-handle="chat">

    <div ng-if="tabIsChat">
      <div ng-repeat="msg in messages">
        <div ng-class="{'from-me' : (user.id == msg.sender), 'from-them': (user.id != msg.sender)}">
          <div ng-if="!msg.attachment">
            <p>{{msg.messageText}}</p>
          </div>
          <div ng-if="msg.attachment" class="thumbnail" style="margin: 0;">
            <firebase-image firebase-ref="gs://aido-7e3d8.appspot.com/{{msg.attachment}}" on-tap="showImage($event);"></firebase-image>
          </div>
          <span class="msg-date" style="display: block; font-size: 10px;">{{msg.createdAt}}</span>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div ng-if="!tabIsChat">
      <div class="nota" ng-repeat="msg in notes">
          <span style="font-size: 16px;">Nota Médica {{msg.createdAt  | date:'MMddyyyy'}}</span>
          <p>{{msg.text}}</p>
      </div>
    </div>

  </ion-content>

  <div ng-if="roleIsPatient && tabIsChat && isChatActive">
    <ion-footer-bar keyboard-attach class="bar-stable footer-chat item-input-inset">
      <button class="button button-clear button-icon button-dark icon ion-paperclip" on-tap="choosePhoto()"></button>

      <label class="item-input-wrapper">
        <input ng-model="chat.message"
               dir="auto"
               type="text" class="focusable"/>
      </label>

        <span ng-if="chat.message.length > 0">
          <button ng-click="sendMessage($event, chat.message, tabIsChat)" class="button button-clear button-dakr">Enviar</button>
        </span>
        <span ng-if="!chat.message || chat.message.length === 0">
          <button on-tap="takePhoto()" class="button button-clear button-icon button-dark icon ion-ios-camera-outline"></button>
        </span>
    </ion-footer-bar>
  </div>
  <div ng-if="!roleIsPatient && isChatActive">
    <ion-footer-bar keyboard-attach class="bar-stable footer-chat item-input-inset">
      <button class="button button-clear button-icon button-dark icon ion-paperclip" on-tap="choosePhoto()"></button>

      <label class="item-input-wrapper">
        <input ng-model="chat.message"
               dir="auto"
               type="text" class="focusable"/>
      </label>

      <span ng-if="chat.message.length > 0">
        <button ng-click="sendMessage($event, chat.message)" class="button button-clear button-dakr">Enviar</button>
      </span>
      <span ng-if="!chat.message || chat.message.length === 0">
        <button on-tap="takePhoto()" class="button button-clear button-icon button-dark icon ion-ios-camera-outline"></button>
      </span>
    </ion-footer-bar>
  </div>

</ion-view>
