<ion-view title="Pago con tarjeta">

    <ion-content padding="true" class="has-header">
        <div ng-if="!hasCustomer" class="creator-container">
            <div class="row" style="width: 90%; margin: 0 auto;">
                <div class="col">
                    <button type="button" class="button button-positive button-block button-outline btn-bold" ng-click="showCardModal(0)">Agregar tarjeta</button>
                </div>
            </div>
        </div>
        <div ng-if="hasCustomer" class="creator-container">
            <div class="row" style="width: 90%; margin: 0 auto;">
                <div class="col">
                    <div class="list">
                        <h3 class="item item-divider blue-divider">Forma de pago</h3>
                        <div ng-repeat="data in customer.payment_sources.data" class="item item-icon-left item-icon-right" ng-click="showCardModal(1, $index)">
                            <i class="icon ion-card"></i>
                            {{ data.name }}
                            <br>
                            {{ data.brand }} - **** **** **** {{ data.last4 }}
                            <i class="icon ion-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!customer.payment_sources" class="row" style="width: 90%; margin: 0 auto;">
                <div class="col">
                    <button type="button" class="button button-positive button-block button-outline btn-bold" ng-click="showCardModal(0)">Agregar tarjeta</button>
                </div>
            </div>
        </div>

        <div class="creator-container">
            <div class="row" style="width: 90%; margin: 0 auto;">
                <div class="col">
                    <div class="list">
                        <h3 class="item item-divider blue-divider">Detalle</h3>

                        <!-- <div class="item" href="#">
                            Consulta: {{medic.name}} {{name.lastname}}
                            <span class="item-note">
                            {{medic.rate | currency:"MXN $"}}
                            </span>
                        </div> -->
                        <div class="item" href="#">
                            Subtotal consulta
                            <span class="item-note">
                            {{(medic.rate / 1.16) | currency:"MXN $"}}
                            </span>
                        </div>
                        <div class="item" href="#">
                            IVA
                            <span class="item-note">
                            {{ (medic.rate / 1.16 * .16) | currency:"MXN $"}}
                            </span>
                        </div>
                        <div class="item" href="#">
                            Total
                            <span class="item-note">
                            {{(medic.rate) | currency:"MXN $"}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 90%; margin: 0 auto;">
                <div class="col">
                    <button type="button" class="button button-positive button-block button-outline btn-bold" ng-click="pay()" ng-disabled="!customer.id">Pagar</button>
                </div>
            </div>
        </div>


    </ion-content>

</ion-view>
