<ion-modal-view>

  <ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="modal.hide()">
      <i class="icon ion-android-arrow-back"></i>
    </button>
    <h1 class="title">{{modalTitle}}</h1>
  </ion-header-bar>

  <ion-content  padding="true">

    <div class="creator-container">
        <div class="row" style="width: 90%; margin: 0 auto;">
            <ion-list>
                <h3 ng-if="edit" class="item item-divider blue-divider" style="margin-top:5px;">{{editTitle}}</h3>

                <label class="item item-input item-floating-label aido-input">
                    <span class="input-label">Nombre del titular</span>
                    <input ng-class="{ 'add-border': (!tokenParams.card.name) }" type="text" name="name" ng-model="tokenParams.card.name" placeholder="Nombre del titular">
                </label>

                <label ng-if="!edit" class="item item-input item-floating-label aido-input">
                    <span class="input-label">Número de tarjeta</span>
                    <input credit-card ng-class="{ 'add-border': (!tokenParams.card.number) }" type="tel" input-type="credit card" name="cardNumber" ng-model="tokenParams.card.number" placeholder="Número de tarjeta">
                </label>

                <div class="row no-padding">
                    <div class="col no-padding">
                        <label class="item item-input item-floating-label aido-input">
                        <span class="input-label">Mes</span>
                        <input ng-class="{ 'add-border': (!tokenParams.card.exp_month) }" type="tel" ng-model="tokenParams.card.exp_month" placeholder="Mes">
                        </label>
                    </div>

                    <div class="col no-padding spacer-30">
                        <label class="item item-input item-floating-label aido-input">
                        <span class="input-label">Año</span>
                        <input ng-class="{ 'add-border': (!tokenParams.card.exp_year) }" type="tel" ng-model="tokenParams.card.exp_year" placeholder="Año">
                        </label>
                    </div>

                    <div class="col no-padding">
                        <label class="item item-input item-floating-label aido-input">
                        <span class="input-label">CVC</span>
                        <input ng-class="{ 'add-border': (!tokenParams.card.cvc) }" type="tel" ng-model="tokenParams.card.cvc" placeholder="CVC">
                        </label>
                    </div>
                </div>
            </ion-list>
        </div>
        <div class="row" style="width: 90%; margin: 0 auto;">
            <div ng-if="!edit" class="col">
                <button type="button" class="button button-positive button-block button-outline btn-bold" ng-click="addCard()">Agregar</button>
            </div>
            <div ng-if="edit" class="col">
                <button type="button" class="button button-positive button-block button-outline btn-bold" ng-click="updateCard()">Actualizar</button>
                <button type="button" class="button button-positive button-block button-outline btn-bold" ng-click="deleteCard()">Eliminar</button>
            </div>
        </div>
    </div>

  </ion-content>
</ion-modal-view>
