<ion-modal-view>

	<ion-header-bar class="bar bar-header bar-positive">
    	<h1 class="title">Perfil</h1>
      	<button class="button button-clear button-primary" ng-click="profileModal.hide()">Cerrar</button>
    </ion-header-bar>

	<ion-content padding="false" class="has-header">

		<img ng-src="{{otherUser.profile.defaultAvatar}}" class="img-responsive img-20 center" style="margin-top: 30px; margin-bottom: 15px;">

		  <div class="row" style="width: 90%; margin: 0 auto;">
		    <div class="col">
		      <ion-list>
		        <h3 class="item item-divider blue-divider">Datos Personales</h3>

		        <label class="item item-input item-floating-label aido-input" style="margin-top: 20px;">
		          <div class="show-list-numbers-and-dots">
		            <p style="color:#000000;">
		              <span style="color: #a2a2a2;">Nombre</span>
		              <br>{{otherUser.name}}
		            </p>
		          </div>
		        </label>

		        <label class="item item-input item-floating-label aido-input" style="margin-top: 20px;">
		          <div class="show-list-numbers-and-dots">
		            <p style="color:#000000;">
		              <span style="color: #a2a2a2;">Apellido</span>
		              <br>{{otherUser.lastname}}
		            </p>
		          </div>
		        </label>

		        <label class="item item-input item-floating-label aido-input" style="margin-top: 20px;">
		          <div class="show-list-numbers-and-dots">
		            <p style="color:#000000;">
		              <span style="color: #a2a2a2;">Fecha de Nacimiento</span>
		              <br>{{otherUser.profile.birthday | date:'dd-MM-yyyy'}}
		            </p>
		          </div>
		        </label>

		        <div class="row no-padding">

		          <div class="col no-padding">
		            <label class="item item-input item-floating-label aido-input" style="margin-top: 20px;">
		              <div class="show-list-numbers-and-dots">
			            <p style="color:#000000;">
			              <span style="color: #a2a2a2;">Peso</span>
			              <br>{{otherUser.profile.weight}} <span ng-if="otherUser.profile.weight != ''" style="margin-left: 5px;">Kg</span>
			            </p>
			          </div>
		            </label>
		          </div>

		          <div class="col no-padding spacer-30">
		            <label class="item item-input item-floating-label aido-input" style="margin-top: 20px;">
		              <div class="show-list-numbers-and-dots">
		                <p style="color:#000000;">
		                  <span style="color: #a2a2a2;">Altura</span>
		                  <br>{{otherUser.profile.height}} <span ng-if="otherUser.profile.height != ''" style="margin-left: 5px;">m</span>
		                </p>
		              </div>
		            </label>
		          </div>

		          <div class="col no-padding">
		            <label class="item item-input item-floating-label aido-input" style="margin-top: 20px;">
		              <div class="show-list-numbers-and-dots">
		                <p style="color:#000000;">
		                  <span style="color: #a2a2a2;">IMC</span>
		                  <br>{{otherUser.profile.bodyMassIndex}}
		                </p>
		              </div>
		            </label>
		          </div>

		        </div>

		        <h3 class="item item-divider blue-divider" style="margin-top: 25px;">Datos Medicos</h3>

		        <label class="item item-input item-floating-label aido-input">
              <div class="show-list-numbers-and-dots">
                <p style="color:#000000;">
                  <span style="color: #a2a2a2;">Tipo de Sangre</span>
                  <br>{{otherUser.profile.bloodType}}
                </p>
              </div>
            </label>


		        <label class="item item-input item-floating-label aido-input mt-10" style="margin-top: 20px;">
		          <div class="show-list-numbers-and-dots">
                <p style="color:#000000;">
                  <span style="color: #a2a2a2;">Alergias</span>
                  <br>{{otherUser.profile.allergies}}
                </p>
              </div>
		        </label>

		        <label class="item item-input item-floating-label aido-input mt-10" style="margin-top: 20px;">
		          <div class="show-list-numbers-and-dots">
                <p style="color:#000000;">
                  <span style="color: #a2a2a2;">Medicamentos actuales</span>
                  <br>{{otherUser.profile.medicines}}
                </p>
              </div>
		        </label>

		        <label class="item item-input item-floating-label aido-input mt-10" style="margin-top: 20px;">
		          <div class="show-list-numbers-and-dots">
                <p style="color:#000000;">
                  <span style="color: #a2a2a2;">Padecimientos Conocidos</span>
                  <br>{{otherUser.profile.knownCurrentConditions}}
                </p>
              </div>
		        </label>

		        <label class="item item-input item-floating-label aido-input" style="margin-top: 20px;">
              <div class="show-list-numbers-and-dots">
                <p style="color:#000000;">
                  <span style="color: #a2a2a2;">Fumas</span>
                  <br>{{otherUser.profile.smokes}}
                </p>
              </div>
            </label>

		        <label class="item item-input item-floating-label aido-input" style="margin-top: 20px;">
              <div class="show-list-numbers-and-dots">
                <p style="color:#000000;">
                  <span style="color: #a2a2a2;">Tomas</span>
                  <br>{{otherUser.profile.drinks}}
                </p>
              </div>
            </label>

            <label class="item item-input item-floating-label aido-input" style="margin-top: 20px; margin-bottom: 20px;">
              <div class="show-list-numbers-and-dots">
                <p style="color:#000000;">
                  <span style="color: #a2a2a2;">Haces Ejercicio</span>
                  <br>{{otherUser.profile.excersiseFrequence}}
                </p>
              </div>
            </label>

		      </ion-list>

		    </div>
		  </div>

	</ion-content>

</ion-modal-view>
