<ion-view>

  <ion-nav-title>
    <span>{{caseTitle}}</span>
  </ion-nav-title>

  <ion-header-bar class="bar">
    <div class="top-history">
      <img ng-src="{{otherUser.profile.defaultAvatar}}" on-tap="openMedicModal()">
      <span on-tap="openMedicModal()">
        <span>{{otherUser.name}} {{otherUser.lastname}}</span>
        <br>
        <span style="color: #b5b6b7;">{{otherUser.email}}</span>
      </span>
    </div>
  </ion-header-bar>

  <ion-content padding="true" scroll="true" class="has-header" style="top: 120px;">

    <div class="row" style="width: 90%; margin: 0 auto;">
      <div class="col">
        <div ng-repeat="prescription in prescriptions">
          <h3 class="item item-divider blue-divider">
            Receta Medica
            <span style="color: gray; font-size: 12px; float: right; margin-top: 5px;">{{prescription.createdAt | date}}</span>
          </h3>
          <div ng-repeat="it in prescription.items" style="margin-bottom: 30px;">
            <p style="color:#000000;">
              <span style="color: #a2a2a2;">Medicamento</span>
              <br>{{it.medicines.name}}
            </p>
            <p style="color:#000000;">
              <span style="color: #a2a2a2;">Dosis</span>
              <br>{{it.dose}}
            </p>
            <p style="color:#000000;">
              <span style="color: #a2a2a2;">Indicaciones</span>
              <br>{{it.indication}}
            </p>
          </div>
        </div>
        <br>
      </div>
    </div>

  </ion-content>
</ion-view>
