<ion-popover-view ng-style="{'height': popoverHeight }">
	<ion-content>
		<ion-lis>
			<ion-item on-tap="goToHistory()">
				Historial
			</ion-item>
			<ion-item ng-if="(caso.status == 'active' && roleIsPatient)" on-tap="editarCaso()">
				Editar Caso
			</ion-item>
			<ion-item ng-if="(caso.status == 'active' && roleIsPatient)" on-tap="closeCase()">
				Cerrar Caso
			</ion-item>
			<ion-item ng-if="(caso.status != 'active' && roleIsPatient)" on-tap="openCase()">
				Reabrir Caso
			</ion-item>
			<ion-item on-tap="report()">
				Reportar Aido
			</ion-item>
		</ion-lis>
	</ion-content>
</ion-popover-view>
