<ion-view title="Datos personales">
  <ion-content padding="true" class="has-header">

    <form name="profileDataForm" ng-submit="submitForm(profileDataForm.$valid)" novalidate class="list">
      <div class="creator-container">
        <div class="row">
          <div class="col">
            <img src="main/assets/images/a_Icon_Perfil.png" class="img-responsive img-20 center">
          </div>
        </div>

        <div class="row" style="width: 90%; margin: 0 auto;">
          <div class="col">

            <ion-list>

              <label class="item item-input item-floating-label aido-input" ng-class="profileForm.sex? 'modal-select-blank' : 'modal-select'">
                <button type="button" class="button-clear button-positive" modal-select="" ng-class="profileForm.sex ? 'ms-after' : 'ms-before'"ng-model="profileForm.sex" options="sexes" modal-title="Sexo" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" has-search="true" search-placeholder="Buscar..." hide-reset="true" style="color: #387ef5 !important;font-weight: 400; padding-left: 0px;border-left: 0px;" cancel-search-button="Limpiar">
                  Sexo
                  <div class="option">
                    {{option.nombre}}
                  </div>
                </button>
                <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              </label>
              <p class="item-floating-label aido-input">{{profileForm.sex.nombre}}</p>


              <label class="item item-input item-floating-label aido-input" on-tap="openDatePicker()">
                <span class="input-label">Fecha de Nacimiento</span>
                <input ng-class="{ 'add-border': (!profileForm.birthday) }" type="text" name="birthday" ng-model="formatedDate" placeholder="Fecha de Nacimiento" disabled style="background-color: #fff !important;opacity: 1 !important;"">
              </label>

              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Altura (m)</span>
                <input type=number step=any ng-class="{ 'add-border': (!profileForm.height) }" type="tel" ng-model="profileForm.height" placeholder="Altura (m)" focus-next>
                <span ng-if="profileForm.weight" style="display: inline-block; position: absolute; top: 43px; left: 45px; font-size: 12px; z-index: 9;">m</span>
              </label>

              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Peso (kg)</span>
                <input type=number step=any  ng-class="{ 'add-border': (!profileForm.weight) }" type="tel" ng-model="profileForm.weight" placeholder="Peso (kg)" focus-next>
                <span ng-if="profileForm.weight" style="display: inline-block; position: absolute; top: 43px; left: 45px; font-size: 12px; z-index: 9;">kg</span>
              </label>

              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Número de Contacto</span>
                <input ng-class="{ 'add-border': (!profileForm.phoneNumber) }" type="tel" name="telefono" ng-model="profileForm.phoneNumber" placeholder="Número de Contacto">
              </label>

            </ion-list>

          </div>
        </div>

        <div class="row padding-top-30" style="width: 90%; margin: 0 auto;">
          <div class="col">
            <button type="submit" ng-disabled="profileDataForm.$invalid" class="button button-positive button-block button-outline btn-bold">Siguiente</button>
          </div>
        </div>

      </div>
    </form>

  </ion-content>
</ion-view>
