<ion-view title="Perfil Médico">
  <ion-content padding="true" class="has-header">

    <form name="profileMedicoDataForm" ng-submit="submitMedicoForm(profileMedicoDataForm.$valid)" novalidate class="list">
      <div class="creator-container">
        <div class="row">
          <div class="col">
            <img ng-src="{{ avatar }}" class="img-responsive img-20 center">
          </div>
        </div>

        <div class="row" style="width: 90%; margin: 0 auto;">
          <div class="col">

            <ion-list>

              <label class="item item-input item-floating-label aido-input" ng-class="especialidadesSeleccionadas.length > 0 ? 'modal-select-blank' : 'modal-select'" style="margin-bottom: 10px;">
                <button type="button" class="button-clear button-positive" ng-class="especialidadesSeleccionadas.length > 0 ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profileForm.especialidades" options="especialidades" modal-title="Especialidades" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" on-select="specialtiesChange()" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar">
                  Especialidad
                  <div class="option">
                    {{option.name}}
                  </div>
                </button>
                <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
                <br>
              </label>
              <div class="aido-input">
                  <p ng-repeat="s in especialidadesSeleccionadas" class="item-floating-label aido-input" style="margin-bottom:3px;">{{s.name}}</p>
              </div>

              <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (profileMedicoDataForm.cedula.$invalid && visitedCedula) }">
                <span class="input-label">Cedula Profesional</span>
                <input ng-class="{ 'add-border': (!profileForm.professionalCertificate) }" type="text" name="cedula" ng-model="profileForm.professionalCertificate" ng-blur="visitedCedula = true" placeholder="Cedula Profesional" required focus-next>
                <span ng-show="profileMedicoDataForm.cedula.$invalid && visitedCedula" class="help-block">Tu cedula profesional es requerida</span>
              </label>


              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Cedula Especialista</span>
                <input ng-class="{ 'add-border': (!profileForm.specialistCertificate) }" type="text" ng-model="profileForm.specialistCertificate" placeholder="Cedula Especialista" focus-next>
              </label>

              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Certificación del Consejo</span>
                <input ng-class="{ 'add-border': (!profileForm.councilCertification) }" type="text" ng-model="profileForm.councilCertification" placeholder="Certificación del Consejo" focus-next>
              </label>

              <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (profileMedicoDataForm.direccion.$invalid && visitedDireccion) }">
                <span class="input-label">Direccion Consultorio</span>
                <textarea ng-class="{ 'add-border': (!profileForm.location) }" name="bio" ng-model="profileForm.location"  ng-blur="visitedDireccion = true" placeholder="Escribe la dirección de tu consultorio" required></textarea>
                <span ng-show="profileMedicoDataForm.direccion.$invalid && visitedDireccion" class="help-block">La direccion de consultorio es requerida</span>
              </label>

              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Estado</span>
                <input ng-class="{ 'add-border': (!profileForm.state) }" type="text" ng-model="profileForm.state" placeholder="Estado" focus-next>
              </label>

              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Ciudad</span>
                <input ng-class="{ 'add-border': (!profileForm.city) }" type="text" ng-model="profileForm.city" placeholder="Ciudad" focus-next>
              </label>

              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Número de Contacto</span>
                <input ng-class="{ 'add-border': (!profileForm.phoneNumber) }" type="tel" ng-model="profileForm.phoneNumber" placeholder="Número de Contacto" focus-next>
              </label>

              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Acerca de ti</span>
                <textarea ng-class="{ 'add-border': (!profileForm.bio) }" name="bio" ng-model="profileForm.bio"  placeholder="Hablanos un poco sobre ti"></textarea>
              </label>

            </ion-list>

          </div>
        </div>

        <div class="row padding-top-30" style="width: 90%; margin: 0 auto;">
          <div class="col">
            <button type="submit" ng-disabled="profileMedicoDataForm.$invalid" class="button button-positive button-block button-outline btn-bold">Ingresar Datos</button>
          </div>
        </div>

      </div>
    </form>

  </ion-content>
</ion-view>
