<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Perfil del Médico</h1>
    <button class="button button-clear button-primary" ng-click="medicModal.hide()">Cerrar</button>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div>
      <img ng-src="{{otherUser.profile.defaultAvatar}}" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <div class="creator-container">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <div id="detailMedicoConsulta-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
            <p class="aido-text" style="margin-top: 15px;font-size: 22px;">Dr. {{otherUser.name}} {{otherUser.lastname}}</p>
          </div>

          <div class="medic-info-container" style="margin-left:0;">
            <div id="detailMedicoConsulta-markdown5" style="text-align:center; color:#444; font-size: 13px;" class="show-list-numbers-and-dots">
              <span ng-repeat="specialty in otherUser.specialties">
                {{specialty.name}}<span ng-if="!$last">,</span>
              </span>
            </div>
          </div>

          <div class="medic-info-container" style="margin-left:0; margin-top: 30px;">
            <div id="detailMedicoConsulta-markdown3">
              <p class="aido-black-text" style="font-size: 14px; color:#444;">{{otherUser.profile.bio}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="medic-info-container">
      <p class="aido-grey-text no-bottom-margin" style="font-size: 15px;">Cedula profesional</p>
      <div id="detailMedicoConsulta-markdown3">
        <p class="aido-black-text" >{{otherUser.profile.professionalCertificate}}</p>
      </div>
    </div>

    <div class="medic-info-container">
      <p class="aido-grey-text no-bottom-margin" style="font-size: 15px;">Cedula Especialidad</p>
      <div id="detailMedicoConsulta-markdown4" class="show-list-numbers-and-dots">
        <p class="aido-black-text">{{otherUser.profile.specialistCertificate}}</p>
      </div>
    </div>

    <div class="medic-info-container">
      <p class="aido-grey-text no-bottom-margin" style="font-size: 15px;">Dirección</p>
      <div id="detailMedicoConsulta-markdown4" class="show-list-numbers-and-dots">
        <p class="aido-black-text">{{otherUser.profile.location}}</p>
      </div>
    </div>

    <div class="medic-info-container">
      <p class="aido-grey-text no-bottom-margin" style="font-size: 15px;">Contacto</p>
      <div id="detailMedicoConsulta-markdown7" class="show-list-numbers-and-dots">
        <p class="aido-black-text">{{otherUser.email}}</p>
        <p class="aido-black-text">{{otherUser.phoneNumber}}</p>
      </div>
    </div> -->
  </ion-content>
</ion-modal-view>
