<ion-view title="Información del Médico">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div>
      <img ng-src="{{medic.profile.defaultAvatar}}" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>

    <div class="creator-container">
      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <div id="detailMedicoConsulta-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
            <p class="aido-text" style="margin-top: 15px;font-size: 22px;">Dr. {{medic.name}} {{medic.lastname}}</p>
          </div>

          <div class="medic-info-container" style="margin-left:0;">
            <div id="detailMedicoConsulta-markdown5" style="text-align:center; color:#444; font-size: 13px;" class="show-list-numbers-and-dots">
              <span ng-repeat="specialty in medic.specialties">
                {{specialty.name}}<span ng-if="!$last">,</span>
              </span>
            </div>
          </div>

          <div class="medic-info-container" style="margin-left:0; margin-top: 30px;">
            <div id="detailMedicoConsulta-markdown3">
              <p class="aido-black-text" style="font-size: 14px; color:#444;">{{medic.profile.bio}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="medic-info-container">
      <p class="aido-grey-text no-bottom-margin" style="font-size: 15px;">Cedula Especialidad</p>
      <div id="detailMedicoConsulta-markdown4" class="show-list-numbers-and-dots">
        <p class="aido-black-text">{{medic.profile.specialistCertificate}}</p>
      </div>
    </div>

    <div class="medic-info-container">
      <p class="aido-grey-text no-bottom-margin" style="font-size: 15px;">Dirección</p>
      <div id="detailMedicoConsulta-markdown4" class="show-list-numbers-and-dots">
        <p class="aido-black-text">{{medic.profile.location}}</p>
      </div>
    </div>

    <div class="medic-info-container">
      <p class="aido-grey-text no-bottom-margin" style="font-size: 15px;">Contacto</p>
      <div id="detailMedicoConsulta-markdown7" class="show-list-numbers-and-dots">
        <p class="aido-black-text">{{medic.email}}</p>
        <p class="aido-black-text">{{medic.phoneNumber}}</p>
      </div>
    </div> -->
  </ion-content>
  <div ng-if="caseChat" class="bar bar-footer eliminateback" style="padding: 0; height: 47px;">
    <div ng-click="createChat()" id="detailMedicoConsulta-button23" class="aido-text bottom-content" style="font-weight: 600;vertical-align: middle; text-align: center; text-overflow: ellipsis; font-size: 16px;">Iniciar Consulta</div>
  </div>
</ion-view>
