<ion-view title="Perfil">

  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-done" on-tap="save()"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <img ng-src="{{profile.defaultAvatar}}" class="img-responsive img-20 center" style="margin-top: 30px; margin-bottom: 15px;" on-tap="showImages();">

      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <ion-list>
            <h3 class="item item-divider blue-divider">Datos Personales</h3>

            <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Nombre</span>
              <input ng-class="{ 'add-border': (!user.name) }" type="text" name="name" ng-model="user.name" placeholder="Nombre" focus-next>
            </label>

            <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Apellido</span>
              <input ng-class="{ 'add-border': (!user.lastname) }" type="text" name="name" ng-model="user.lastname" placeholder="Apellido" focus-next>
            </label>

            <!-- <input ng-class="{ 'add-border': (!profile.birthday) }" type="date" name="birthday" ng-model="formatedDate" placeholder="Fecha de Nacimiento"> -->

            <label ng-if="roleIsPatient" class="item item-input item-floating-label aido-input" on-tap="openDatePicker()">
              <span class="input-label">Fecha de Nacimiento</span>
              <input ng-class="{ 'add-border': (!profile.birthday) }" type="text" name="birthday" ng-model="formatedDate" placeholder="Fecha de Nacimiento" disabled style="background-color: #fff !important; opacity: 1 !important;">
            </label>

            <!-- <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Fecha de Nacimiento</span>
              <input ng-class="{ 'add-border': (!profile.birthday) }" type="date" name="date" ng-model="profile.birthday" placeholder="Fecha de Nacimiento">
            </label> -->

            <div ng-if="roleIsPatient" class="row no-padding">

              <div class="col no-padding">
                <label class="item item-input item-floating-label aido-input">
                  <span class="input-label">Peso (kg)</span>
                  <input ng-class="{ 'add-border': (!profile.weight) }" type="tel" ng-model="profile.weight" placeholder="Peso (kg)" focus-next>
                  <span ng-if="profile.weight" style="display: inline-block; position: absolute; top: 43px; left: 45px; font-size: 12px; z-index: 9;">kg</span>
                </label>
              </div>

              <div class="col no-padding spacer-30">
                <label class="item item-input item-floating-label aido-input">
                  <span class="input-label">Altura (m)</span>
                  <input ng-class="{ 'add-border': (!profile.height) }" type="tel" ng-model="profile.height" placeholder="Altura (m)">
                  <span ng-if="profile.height" style="display: inline-block; position: absolute; top: 43px; left: 45px; font-size: 12px; z-index: 9;">m</span>
                </label>
              </div>

              <div class="col no-padding">
                <label class="item item-input item-floating-label aido-input">
                  <span class="input-label">IMC</span>
                  <input ng-class="{ 'add-border': (!profile.bodyMassIndex) }" type="tel" ng-model="profile.bodyMassIndex" placeholder="IMC" ng-disabled>
                </label>
              </div>

            </div>

            <div ng-if="(roleIsPatient)">
            <h3 class="item item-divider blue-divider" style="margin-top: 30px;margin-bottom: 30px;">Datos Medicos</h3>

            <label class="item item-input item-floating-label aido-input" ng-class="profile.bloodType ? 'modal-select-blank' : 'modal-select'" >
              <button type="button" class="button-clear button-positive" ng-class="profile.bloodType ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profile.bloodType" options="tipoSangre" modal-title="Tipo de Sangre" header-footer-class="bar-positive modal-format" has-search="true" search-placeholder="Buscar..." cancel-button="Cancelar" hide-reset="true" style="color: #387ef5 !important;font-weight: 400; padding-left: 0px;border-left: 0px;" cancel-search-button="Limpiar">
                Tipo de Sangre
                <div class="option">
                  {{option}}
                </div>
              </button>
              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p class="item-floating-label aido-input" style="margin-bottom:3px;">{{profile.bloodType}}</p>


            <label class="item item-input item-floating-label aido-input mt-10">
              <span class="input-label">Alergias</span>
              <textarea ng-class="{ 'add-border': (!profile.allergies) }" ng-model="profile.allergies" placeholder="Alergias"></textarea>
            </label>

            <label class="item item-input item-floating-label aido-input mt-10">
              <span class="input-label">Medicamentos actuales</span>
              <textarea ng-class="{ 'add-border': (!profile.medicines) }" ng-model="profile.medicines" placeholder="Medicamentos actuales"></textarea>
            </label>

            <label class="item item-input item-floating-label aido-input mt-10">
              <span class="input-label">Padecimientos Conocidos</span>
              <textarea ng-class="{ 'add-border': (!profile.knownCurrentConditions) }" ng-model="profile.knownCurrentConditions" placeholder="Padecimientos Conocidos"></textarea>
            </label>

            <label class="item item-input item-floating-label aido-input" ng-class="profile.smokes ? 'modal-select-blank' : 'modal-select'" style="margin-top:15px;">
              <button type="button" class="button-clear button-positive" ng-class="profile.smokes ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profile.smokes" options="fumas" modal-title="Fumas" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar">
                Fumas
                <div class="option">
                  {{option}}
                </div>
              </button>
              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p class="item-floating-label aido-input">{{profile.smokes}}</p>

            <label class="item item-input item-floating-label aido-input" ng-class="profile.drinks ? 'modal-select-blank' : 'modal-select'" style="margin-top:15px;" >
              <button type="button" class="button-clear button-positive" ng-class="profile.drinks ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profile.drinks" options="tomas" modal-title="Tomas" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar">
                Tomas
                <div class="option">
                  {{option}}
                </div>
              </button>
              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p class="item-floating-label aido-input">{{profile.drinks}}</p>

            <label class="item item-input item-floating-label aido-input" ng-class="profile.excersiseFrequence ? 'modal-select-blank' : 'modal-select'" style="margin-top:15px;">
              <button type="button" class="button-clear button-positive" ng-class="profile.excersiseFrequence ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profile.excersiseFrequence" options="ejercicio" modal-title="Haces Ejercicio" cancel-button="Cancelar" hide-reset="true" header-footer-class="bar-positive modal-format" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar">
                Haces Ejercicio
                <div class="option">
                  {{option}}
                </div>
              </button>
              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p class="item-floating-label aido-input">{{profile.excersiseFrequence}}</p>
          </div>
            <h3 ng-if="(!roleIsPatient)" class="item item-divider blue-divider" style="margin-top: 25px;">Información del Medico</h3>

            <label ng-if="(!roleIsPatient)" class="item item-input item-floating-label aido-input" ng-class="especialidadesSeleccionadas.length > 0 ? 'modal-select-blank' : 'modal-select'" style="margin-bottom: 10px;">
                <button type="button" class="button-clear button-positive" ng-class="especialidadesSeleccionadas.length > 0 ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profile.especialidades" options="especialidades" modal-title="Especialidades" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" on-select="specialtiesChange()" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar">
                  Especialidad
                  <div class="option">
                    {{option.name}}
                  </div>
                </button>
                <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
                <br>
              </label>
              <div class="aido-input">
                  <p ng-repeat="s in especialidadesSeleccionadas" class="item-floating-label aido-input" style="margin-bottom:3px;">{{s.name}}</p>
              </div>

            <label ng-if="(!roleIsPatient)" class="item item-input item-floating-label aido-input" ng-class="{ 'error': (profile.cedula.$invalid && visitedCedula) }">
              <span class="input-label">Cedula Profesional</span>
              <input ng-class="{ 'add-border': (!profile.professionalCertificate) }" type="text" name="cedula" ng-model="profile.professionalCertificate" ng-blur="visitedCedula = true" placeholder="Cedula Profesional" focus-next required>
              <span ng-show="profile.cedula.$invalid && visitedCedula" class="help-block">Tu cedula profesional es requerida</span>
            </label>

            <label ng-if="(!roleIsPatient)" class="item item-input item-floating-label aido-input">
              <span class="input-label">Cedula Especialista</span>
              <input ng-class="{ 'add-border': (!profile.specialistCertificate) }" type="text" ng-model="profile.specialistCertificate" placeholder="Cedula Especialista" focus-next>
            </label>

            <label ng-if="(!roleIsPatient)" class="item item-input item-floating-label aido-input">
              <span class="input-label">Certificación del Consejo</span>
              <input ng-class="{ 'add-border': (!profile.councilCertification) }" type="text" ng-model="profile.councilCertification" placeholder="Certificación del Consejo" focus-next>
            </label>

            <label ng-if="(!roleIsPatient)" class="item item-input item-floating-label aido-input" ng-class="{ 'error': (profile.direccion.$invalid && visitedDireccion) }">
              <span class="input-label">Direccion Consultorio</span>
              <input ng-class="{ 'add-border': (!profile.location) }" type="text" name="direccion" ng-model="profile.location" ng-blur="visitedDireccion = true" placeholder="Direccion Consultorio" required focus-next>
              <span ng-show="profile.direccion.$invalid && visitedDireccion" class="help-block">La direccion de consultorio es requerida</span>
            </label>

            <label ng-if="(!roleIsPatient)" class="item item-input item-floating-label aido-input">
              <span class="input-label">Estado</span>
              <input ng-class="{ 'add-border': (!profile.state) }" type="text" ng-model="profile.state" placeholder="Estado" focus-next>
            </label>

            <label ng-if="(!roleIsPatient)" class="item item-input item-floating-label aido-input">
              <span class="input-label">Ciudad</span>
              <input ng-class="{ 'add-border': (!profile.city) }" type="text" ng-model="profile.city" placeholder="Ciudad" focus-next>
            </label>

            <label ng-if="(!roleIsPatient)" class="item item-input item-floating-label aido-input">
              <span class="input-label">Número de Contacto</span>
              <input ng-class="{ 'add-border': (!profile.phoneNumber) }" type="tel" ng-model="profile.phoneNumber" placeholder="Número de Contacto" focus-next>
            </label>

            <label ng-if="(!roleIsPatient)" class="item item-input item-floating-label aido-input">
              <span class="input-label">Acerca de ti</span>
              <textarea ng-class="{ 'add-border': (!profile.bio) }" name="bio" ng-model="profile.bio" placeholder="Hablanos un poco sobre ti"></textarea>
            </label>

            <h3 ng-if="(!roleIsPatient)" class="item item-divider blue-divider" style="margin-top: 25px;">Datos monetarios (mx)</h3>

            <div ng-if="!roleIsPatient" class="">
              <div class="">
                <label class="item item-input aido-input">
                  <span class="input-label" style="width: 130px;">Precio Consulta</span>
                  <input ng-class="{ 'add-border': (!user.rate) }" type="tel" ng-model="user.rate" placeholder="Precio Consulta" ng-blur="getComision()">
                </label>
              </div>

              <div class="">
                <label class="item item-input aido-input">
                  <span class="input-label" style="width: 130px;color:grey !important;">Servicio</span>
                  <input type="tel" ng-value="comisionAido" placeholder="Servicio" disabled>
                </label>
              </div>

              <div class="">
                <label class="item item-input aido-input">
                  <span class="input-label" style="width: 130px;color:grey !important;">Tu Ingreso</span>
                  <input type="tel" ng-value="comisionDoctor" placeholder="Tu Ingreso" disabled>
                </label>
              </div>
            </div>
          </ion-list>

        </div>
      </div>

  </ion-content>
</ion-view>
