<ion-view>
  <ion-nav-title>{{caso.name}}</ion-nav-title>
    <ion-nav-buttons side="right" class="has-header">
      <button class="button button-icon icon ion-android-done" on-tap="save()"></button>
    </ion-nav-buttons>

  <ion-content padding="false" class="has-header">
    <div>
        <img ng-src="{{caso.defaultAvatar}}" class="img-responsive center mt-10" style="width: 25%;" on-tap="showImages();">
    </div>

    <form name="casoForm" ng-submit="submitForm(casoForm.$valid)" class="" novalidate>

      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <ion-list>

            <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (casoForm.nombre.$invalid && visitedName) }">
              <span class="input-label">Nombre del Caso</span>
              <input ng-class="{ 'add-border': (!caso.name) }" type="text" name="nombre" placeholder="Nombre del Caso" ng-model="caso.name" ng-blur="visitedName = true" required>
              <span ng-if="casoForm.nombre.$invalid && visitedName" class="help-block">El nombre del caso es requerido.</span>
            </label>

            <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (casoForm.descripcion.$invalid && visitedDescripcion) }">
              <span class="input-label">Motivo de Consulta</span>
              <textarea style="height:80px"ng-class="{ 'add-border': (!caso.description) }" name="descripcion" placeholder="Motivo de Consulta" ng-blur="visitedDescripcion = true" ng-model="caso.description" required></textarea>
              <span ng-if="casoForm.descripcion.$invalid && visitedDescripcion" class="help-block">Es necesario describir el motivo de la consulta.</span>
            </label>

            <label class="item item-input item-floating-label aido-input" ng-class="symptomsSelected.length > 0 ? 'modal-select-blank' : 'modal-select'" style="margin-top: 20px;">
              <button type="button" class="button-clear button-positive" ng-class="symptomsSelected.length > 0 ? 'ms-after' : 'ms-before'" modal-select="" ng-model="caso.symptoms" options="symptomsList" modal-title="Sintomas" header-footer-class="bar-positive modal-format" has-search="true" search-placeholder="Buscar..." cancel-button="Cancelar" hide-reset="true" on-select="symptomsChange()" multiple="true" style="color: #387ef5 !important;font-weight: 400; padding-left: 0px;border-left: 0px;" cancel-search-button="Limpiar">
                Sintomas
                <div class="option">
                  {{option.name}}
                </div>
              </button>
              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p ng-repeat="s in symptomsSelected" class="item-floating-label aido-input" style="margin-bottom:3px;">{{s.name}}</p>

           <!--  <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Tiempo de Evolución</span>
              <input ng-class="{ 'add-border': (!newCaso.evolutionTime) }" type="text" name="" ng-model="newCaso.evolutionTime" placeholder="Tiempo de Evolución">
            </label> -->

            <label class="item item-input item-floating-label aido-input" on-tap="openDatePicker()">
              <span class="input-label">Inicio de Sintomas</span>
              <input ng-class="{ 'add-border': (!caso.symptomsDate) }" type="text" name="symptomsDate" ng-model="formatedDate" placeholder="Inicio de Sintomas" disabled style="background-color: #fff !important; opacity: 1 !important;">
            </label>

            <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Medicamentos</span>
              <textarea ng-class="{ 'add-border': (!caso.currentMedicines) }" name="" ng-model="caso.currentMedicines" placeholder="Medicamentos" ></textarea>
            </label>

            <label class="item item-input item-floating-label aido-input" ng-if="caso.firebaseAttachments.length > 0">
              <span class="input-label" style="opacity:1;">Imagenes Adjuntas</span>
              <br>
              <div ng-repeat="arr in arrOfArrImages">
                <div class="row" style="width: 90%; margin: 0 auto;">
                    <div class="thumbnail" on-tap="showImagesPreview($index);" ng-repeat="a in arr track by $index">
                      <firebase-image firebase-ref="gs://aido-7e3d8.appspot.com/{{a}}"></firebase-image>
                    </div>
                </div>
              </div>
            </label>


          <label on-tap="showAttachmentPopup()" class="item item-input item-floating-label aido-input" style="margin-top: 10px; color: #387ef5; font-size: 14px; padding-bottom: 5px;">
            <span class="input-label" style="opacity:1;">Adjuntar Imagenes</span>
            <i class="icon ion-arrow-down-b" style="color: #387ef5; float: right; margin-top:-10px;"></i>
          </label>

          </ion-list>

          <div style="margin-top: 10px;">
            <div ng-repeat="img in imagesData" style="position: relative; display: inline-block;">
              <div class="thumbnail" on-tap="showImagesPreview($index);" style="border: 0;">
                <img ng-src="{{img}}" id="srcImage"/>
              </div>
              <i class="icon ion-android-cancel op" ng-click="eliminatePhoto($index)"></i>
            </div>
          </div>

      </div>
    </form>
  </ion-content>
</ion-view>
