<ion-view title="Historial de Caso">

  <div class="bar bar-header" style="height: auto;">
    <h1 class="title">Historial de Caso</h1>
    <div class="top-history">
      <img ng-src="{{caseInfo.patient.profile.defaultAvatar}}">
      <span class="user-info">
        <span>{{caseInfo.patient.name}} {{caseInfo.patient.lastname}}</span>
        <br>
        <span style="color: #b5b6b7;">{{caseInfo.patient.email}}</span>
      </span>
    </div>
  </div>

  <ion-content padding="false" class="has-header history-content">

    <div class="list">

      <div ng-repeat="h in history">

        <div class="item item-icon-left" ng-if="h.event == 'chat-started'">
          <i class="icon ion-document-text" style="align-items: baseline;margin-top: 12px;font-size: 22px;color: darkgrey;"></i>
          <h3 class="history-title">Información del caso <span>{{h.createdAt | date: 'dd MM yyyy'}}</span> </h3>
          <br>
          <h3>{{h.value}}</h3>
          <br>
          <p style="white-space: normal;">{{h.description}}</p>
        </div>

        <div class="item item-icon-left" ng-if="h.event == 'chat-ended'">
          <i class="icon ion-document-text" style="align-items: baseline;margin-top: 12px;font-size: 22px;color: darkgrey;"></i>
          <h3 class="history-title">{{h.value}} <span>{{h.createdAt | date: 'dd MM yyyy'}}</span> </h3>
        </div>

        <div class="item item-icon-left" ng-if="h.event == 'chat-updated'">
          <i class="icon ion-document-text" style="align-items: baseline;margin-top: 12px;font-size: 22px;color: darkgrey;"></i>
          <h3 class="history-title">Información del caso actualizada <span>{{h.createdAt | date: 'dd MM yyyy'}}</span> </h3>
          <br>
          <h3>{{h.value}}</h3>
          <br>
          <p style="white-space: normal;"><b>Descripción de Suceso:</b> {{h.description.description}}</p>
          <p style="white-space: normal;"><b>Medicamentos no Controlados:</b> {{h.description.currentMedicines}}</p>
          <p style="white-space: normal;"><b>Inicio de Sintomas:</b> {{h.description.symptomsDate | dateFormat}}</p>
        </div>

        <div class="item item-icon-left" ng-if="h.event == 'symptoms-added'">
          <i class="icon ion-medkit" style="align-items: baseline;margin-top: 12px; font-size: 22px; color: darkgrey;"></i>
          <h3 class="history-title">Sintomas <span>{{h.createdAt |  date: 'dd MM yyyy'}}</span></h3>
          <br>
          <h4 ng-repeat="s in h.symptom">
            {{s.name}}
          </h4>
        </div>

        <div class="item item-icon-left" ng-if="h.event == 'prescription-added'">
          <p  class="icon"style="align-items: baseline;margin-top: 12px; margin-left: 5px; font-size:15PX;color:#387ef5">RX</p>
          <h3 class="history-title">Receta Medica <span>{{h.createdAt |  date: 'dd MM yyyy'}}</span></h3>
          <h3 style="color:gray;">{{h.prescription.medic.name}} {{h.prescription.medic.lastname}}</h3>
          <br>
          <h4 ng-repeat="item in h.prescription.items">
            <strong>{{item.medicines.name}}</strong> <br>
            {{item.dose}} <br>
            {{item.indication}}
            <div ng-if="!($last)" style="margin-bottom: 5px;">&nbsp;</div>
          </h4>
        </div>

        <div class="item item-icon-left" ng-if="h.event == 'note-added'">
          <p  class="icon ion-ios-more"style="align-items: baseline;margin-top: 12px;"></p>
          <h3 class="history-title">Nota Medica <span>{{h.createdAt |  date: 'dd MM yyyy'}}</span></h3>
          <h3 style="color:gray;">{{h.medicNote.sender.name}} {{h.medicNote.sender.lastname}}</h3>
          <br>
          <h4>
            {{h.medicNote.text}}
          </h4>
        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
