<div class="modal image-modal transparent-modal" ng-click="closeModal()">
    <ion-pane class="transparent-modal">
       <img ng-src="{{imageSrc}}" class="fullscreen-image-modal" style="padding: 10px;"/>
    </ion-pane>
</div>
