<div class="modal image-modal transparent" ng-click="closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="image in caso.firebaseAttachments">
            <firebase-image firebase-ref="gs://aido-7e3d8.appspot.com/{{image}}" fullscreen="true"></firebase-image>
        </ion-slide>
    </ion-slide-box>
</div>
