<ion-view title="Invitar">
  <ion-content>
    <div class="creator-container">
      <div class="row">
        <div class="col">
          <h3 class="item">Email del usuario</h3>
          <label class="item item-input">
            <input type="text" name="name" ng-model="invite.email" autofocus>
          </label>

          <div class="button-bar">
            <button  class="button button-full button-calm" ng-click="invite()">Invitar!</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
