<ion-modal-view>

  <ion-header-bar class="bar-positive">
    <button class="button button-clear" ng-click="modal.hide()">
      <i class="icon ion-android-arrow-back"></i>
    </button>
    <h1 class="title">Buscar pacientes</h1>
  </ion-header-bar>
  <ion-content>

    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="email" placeholder="Ingresa el correo electronico" ng-model="inputs.search" style="width: 100%;" ng-keyup="onKeyUp($event)">
        </label>
        <button class="button button-small" on-tap="searchUser()">
          <i class="icon ion-android-search"></i>
        </button>
      </div>

      <a class="item item-avatar item-button-right" ng-repeat="user in results" >
        <img ng-if="user.profile.defaultAvatar" ng-src="{{user.profile.defaultAvatar}}">
        <h2>{{user.name}} {{user.lastname}}</h2>
        <p>{{user.email}}</p>
        <button class="button button-calm" on-tap="invite(user)" style="margin-top: 12px;">
          <i class="icon ion-paper-airplane"></i>
        </button>
      </a>

      <a ng-if="inputs.showMessage" class="item item-button-right">
        <h2>{{inputs.search}}</h2>
        <button class="button button-calm" on-tap="inviteNew()">
          <i class="icon ion-paper-airplane"></i>
        </button>
      </a>

    </div>

  </ion-content>
</ion-modal-view>
