<ion-view title="Casos">

    <ion-nav-buttons side="right" class="has-header">
      <a ng-if="roleIsPatient" class="button button-icon" on-tap="goToCrearCaso()">
        <img ng-src="main/assets/images/a_icon_NuevoCaso.png" style="height: 31px;">
      </a>
      <a ng-if="!(roleIsPatient)" class="button button-icon icon ion-ios-email-outline" on-tap="openInvitationModal()"></a>
    </ion-nav-buttons>

  <ion-content padding="false" class="has-header">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="creator-container">
      <div class="button-bar">
        <button class="button button-block tabbed-button" ng-class="{ 'button-positive': status == 'active', 'button-calm': status != 'active' }" on-tap="getCases('active')">Activos</button>
        <button class="button button-block tabbed-button" ng-class="{ 'button-positive': status == 'closed', 'button-calm': status != 'closed' }" on-tap="getCases('closed')">Cerrados</button>
      </div>
    </div>

    <div class="creator-container">
      <div class="list">
        <a class="item item-avatar" collection-repeat="caso in casos.lista " on-tap="view(caso)" style="border: 0;">
          <img ng-src="{{caso.defaultAvatar}}">
          <h2>{{caso.name}}</h2>
          <p ng-if="!(roleIsPatient)" style="color: #000;">{{caso.patient.name}} {{caso.patient.lastname}}</p>
          <p style="font-size: 13px;">Actualizado {{caso.updatedAt | dateFormat}}</p>
          <span ng-if="caso.notifications > 0" class="badge badge-positive">{{caso.notifications}}</span>
        </a>
      </div>

      <h4 class="text-center" style="font-size: 16px; color: #387ef5;" ng-if="!casos.lista.length">No hay casos {{ dictionary[status] }} por el momento</h4>
    </div>

  </ion-content>

</ion-view>
