<ion-view title="Login" hide-nav-bar="true" hide-back-button="true">
  <ion-content padding="true" scroll="false">

    <div class="row" style="margin-top: 10vh;">
      <div class="col">
        <img src="main/assets/images/aido_logo.png" class="img-responsive img-65 center">
      </div>
    </div>

    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate class="list" style="margin-top: 5px;">

      <div class="creator-container">
        <div class="row" style="width: 90%; margin: 0 auto;">
          <div class="col">
            <ion-list>

              <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (userForm.email.$invalid && visitedEmail) }">
                <span class="input-label">Correo electrónico</span>
                <input ng-class="{ 'add-border': (!loginForm.email) }" type="email" name="email" ng-model="loginForm.email" ng-blur="visitedEmail = true" placeholder="Correo electrónico" required focus-next>
                <span ng-if="userForm.email.$invalid && visitedEmail" class="help-block">Tu correo electrónico es invalido/requerido.</span>
              </label>

              <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (userForm.pass.$invalid && visitedPass) }">
                <span class="input-label">Contraseña</span>
                <input ng-class="{ 'add-border': (!loginForm.pass) }" type="password" name="pass" ng-model="loginForm.pass"  ng-blur="visitedPass = true" placeholder="Contraseña" required>
                <span ng-if="userForm.pass.$invalid && visitedPass" class="help-block">La contraseña es requerida.</span>
              </label>

            </ion-list>
            <div style="margin-top: 10px;
                        font-size: 12px;
                        text-align: right;
                        color: #387ef5;
                        text-decoration: none;">
              <a ui-sref="recover" style="text-decoration: none;">Olvide mi contraseña</a>
            </div>
          </div>
        </div>

        <div class="row" style="width: 90%; margin: 5px auto 0px auto; margin-top: 20px;">
          <div class="col">
            <button type="submit" ng-disabled="userForm.$invalid" class="button button-positive button-block button-outline btn-bold">Ingresar</button>
            <a ui-sref="registro" class="button button-positive button-block button-clear btn-bold" style="margin-top: 40px;">Crear Cuenta</a>
          </div>
        </div>
      </div>

    </form>

  </ion-content>
</ion-view>
