<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-positive">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left" style="border-right: 2px solid #387ef5;">

    <!-- menu header -->
    <ion-header-bar class="bar-positive" style="height: auto;">
      <div class="creator-container" style="border-color: #0c60ee; background-color: #387ef5; background-image: linear-gradient(0deg, #0c60ee, #0c60ee, transparent 0%); color: #fff;">
          <div class="row" style="padding: 0;">
            <div class="col" style="padding: 0;">

              <img src="main/assets/images/logo-white.png" class="img-responsive img-50" style="float: right; width: 45%; margin-top: 20px; margin-right: 10px;">
              <span class="clearfix"></span>

              <div style="margin-top: 25px;margin-left: 15px; margin-bottom: 10px;">
                <span style="color: #fff; display: block; font-size: 16px; font-weight: 600;">{{currentUser.name}} {{currentUser.lastname}}</span>
                <span style="color: #fff; display: block;">{{currentUser.email}}</span>
              </div>

            </div>
          </div>
        </div>
    </ion-header-bar>

    <!-- menu content -->
    <ion-content style="top:180px;" side-menu>

      <div style="margin-top: 20px;">
        <ion-list>
          <ion-item ng-if="!(roleIsPatient) && onlineStatus" on-tap="switchStatus()" href="" active-page-highlight="" class="side-menu-item item-icon-left" style="border: 0; font-size: 14px;
      font-weight: 600; padding-left: 15px; color: #525252;">
            <i class="icon">
              <img ng-src="main/assets/images/aido_iconStatus_On.png" class="img-responsive" style="width: 22px;">
            </i>
            Disponible
          </ion-item>
          <ion-item ng-if="!(roleIsPatient) && !onlineStatus" on-tap="switchStatus()" href="" active-page-highlight="" class="side-menu-item item-icon-left" style="border: 0; font-size: 14px;
      font-weight: 600; padding-left: 15px; color: #E82C58;">
            <i class="icon">
              <img ng-src="main/assets/images/aido_iconStatus_Off.png" class="img-responsive" style="width: 22px;">
            </i>
            No Disponible
          </ion-item>
          <ion-item ng-repeat="opt in menuOptions" ui-sref="{{opt.state}}" menu-close="" active-page-highlight="" class="side-menu-item item-icon-left" style="border: 0; font-size: 14px;
      font-weight: 600; padding-left: 15px; color: #525252;">
            <i class="icon">
              <img ng-src="{{opt.icon}}" class="img-responsive" style="width: 22px;">
            </i>
            {{ opt.title }}
            <span ng-if="opt.notifications > 0" class="badge badge-assertive">{{opt.notifications}}</span>
          </ion-item>
        </ion-list>
      </div>

    </ion-content>

    <div class="bar bar-footer" style="height: auto; border: 0; background: none; z-index: 10;">
      <div style="background-image: none; margin-bottom: 10px; color: #525252;" id="second-list">
        <ion-list>
          <ion-item on-tap="logout()" menu-close="" active-page-highlight="" class="side-menu-item item-icon-left" style="border: 0; font-size: 14px; font-weight: 600;padding-left: 65px;">
            <i class="icon" style="left:24px;">
              <img src="main/assets/images/aido_iconMenu_out.png" style="width: 22px;" class="img-responsive">
            </i>
            Salir
          </ion-item>
          <div ui-sref="main.contacto">
            <ion-item menu-close="" active-page-highlight="" class="side-menu-item item-icon-left" style="border: 0; font-size: 14px; font-weight: 300; padding-left: 65px; color: #6d6565;padding-top: 5px; padding-bottom: 8px;">
              <i class="icon"></i>
              Contacta a Aido
            </ion-item>
          </div>
          <div on-tap="termsAndConditions()">
            <ion-item menu-close="" active-page-highlight="" class="side-menu-item item-icon-left" style="border: 0; font-size: 14px; font-weight: 300; padding-left: 65px; color: #6d6565;    padding-top: 5px; padding-bottom: 8px;">
              <i class="icon"></i>
              Términos y condiciones
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div>

  </ion-side-menu>

</ion-side-menus>
