<ion-view title="Pagos">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 30px;"></div>

    <div class="creator-container">
        <div class="row" style="width: 90%; margin: 0 auto;">
            <div class="col">
                <button type="button" class="button button-positive button-block button-outline btn-bold" ng-click="payWithConekta()">Pagar con tarjeta</button>
            </div>
        </div>
        <div class="row" style="width: 90%; margin: 0 auto;">
            <div class="col">
                <button type="button" class="button button-positive button-block button-outline btn-bold" ng-click="payWithPaypal()">Pagar con Paypal</button>
            </div>
        </div>
    </div>

    <div class="creator-container">
        <div class="row" style="width: 90%; margin: 0 auto;">
            <div class="col">
                <div class="list">
                    <h3 class="item item-divider blue-divider">Detalle</h3>

                    <!-- <div class="item" href="#">
                        Consulta: {{medic.name}} {{name.lastname}}
                        <span class="item-note">
                        {{medic.rate | currency:"MXN $"}}
                        </span>
                    </div> -->
                    <div class="item" href="#">
                        Subtotal consulta
                        <span class="item-note">
                        {{(medic.rate / 1.16) | currency:"MXN $"}}
                        </span>
                    </div>
                    <div class="item" href="#">
                        IVA
                        <span class="item-note">
                        {{(medic.rate / 1.16 * .16) | currency:"MXN $"}}
                        </span>
                    </div>
                    <div class="item" href="#">
                        Total
                        <span class="item-note">
                        {{(medic.rate) | currency:"MXN $"}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </ion-content>
</ion-view>
