<ion-view title="Perfil">
  <ion-content padding="true" class="has-header">
    <div class="col">
      <img src="main/assets/images/a_icon_Corazon.png" class="img-responsive img-20 center">
    </div>

    <form ng-submit="submitForm()" class="list">

      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <ion-list>

            <label class="item item-input item-floating-label aido-input" ng-class="profileForm.bloodType ? 'modal-select-blank' : 'modal-select'" >
              <button type="button" class="button-clear button-positive" ng-class="profileForm.bloodType ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profileForm.bloodType" options="tipoSangre" modal-title="Tipo de Sangre" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar">
                Tipo de Sangre
                <div class="option">
                  {{option}}
                </div>
              </button>
              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p class="item-floating-label aido-input" style="margin-bottom:3px;">{{profileForm.bloodType}}</p>

            <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Alergias</span>
              <textarea ng-class="{ 'add-border': (!profileForm.allergies) }" ng-model="profileForm.allergies" placeholder="Alergias" focus-next></textarea>
            </label>

            <label class="item item-input item-floating-label aido-input" ng-class="profileForm.smokes ? 'modal-select-blank' : 'modal-select'">
              <button type="button" class="button-clear button-positive" ng-class="profileForm.smokes ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profileForm.smokes" options="fumas" modal-title="Fumas" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar">
                Fumas
                <div class="option">
                  {{option}}
                </div>
              </button>
              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p class="item-floating-label aido-input">{{profileForm.smokes}}</p>

            <label class="item item-input item-floating-label aido-input" ng-class="profileForm.drinks ? 'modal-select-blank' : 'modal-select'" style="margin-top:5px;" >
              <button type="button" class="button-clear button-positive" ng-class="profileForm.drinks ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profileForm.drinks" options="tomas" modal-title="Tomas" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar">
                Tomas
                <div class="option">
                  {{option}}
                </div>
              </button>
              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p class="item-floating-label aido-input">{{profileForm.drinks}}</p>

            <label class="item item-input item-floating-label aido-input"ng-class="profileForm.excersiseFrequence ? 'modal-select-blank' : 'modal-select'">
              <button type="button" class="button-clear button-positive" ng-class="profileForm.excersiseFrequence ? 'ms-after' : 'ms-before'" modal-select="" ng-model="profileForm.excersiseFrequence" options="ejercicio" modal-title="Haces Ejercicio" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar">
                Haces Ejercicio
                <div class="option">
                  {{option}}
                </div>
              </button>
              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p class="item-floating-label aido-input">{{profileForm.excersiseFrequence}}</p>

            <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Medicamentos actuales</span>
              <textarea ng-class="{ 'add-border': (!profileForm.medicines) }" ng-model="profileForm.medicines" placeholder="Medicamentos actuales"focus-next> </textarea>
            </label>

            <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Padecimientos conocidos</span>
              <textarea ng-class="{ 'add-border': (!profileForm.knownCurrentConditions) }" ng-model="profileForm.knownCurrentConditions" placeholder="Padecimientos conocidos"></textarea>
            </label>

          </ion-list>
        </div>
      </div>

      <div class="row" style="width: 90%; margin: 0 auto;">
        <div class="col">
          <button type="submit" class="button button-positive button-block button-outline btn-bold">Siguiente</button>
        </div>
      </div>

    </form>
  </ion-content>
</ion-view>
