<div class="modal image-modal transparent" ng-click="closeModal()">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="i in imagesData track by $index">
            <img ng-src="{{i}}">
        </ion-slide>
    </ion-slide-box>
</div>
