<ion-view>

  <ion-nav-title>
    <span>Receta: {{oldChat.caseChat.name}}</span>
  </ion-nav-title>

  <div class="bar bar-header" style="height: auto;">
    <div class="top-history">
      <img ng-src="{{otherUser.profile.defaultAvatar}}">
      <span>
        <span>{{otherUser.name}} {{otherUser.lastname}}</span>
        <br>
        <span style="color: #b5b6b7;">
          <span ng-if="age">{{age}} años,</span> IMC: {{otherUser.profile.bodyMassIndex}}
        </span>
      </span>
    </div>
  </div>

  <ion-content padding="false" scroll="true" class="has-header" delegate-handle="detail"  style="top: 120px;">

    <div class="row" style="width: 85%; margin: 0 auto;">
      <div class="col">

        <ion-list>
          <div ng-repeat="p in prescription.items track by $index" style="margin-bottom: 15px;">
            <div ng-if="prescription.items.length > 1" class="text-right" style="height: 30px;font-size: 30px; color: #3C3C3C;"><i ng-click="removeRecipe($index)" class="icon ion-close"></i></div>

            <label class="item item-input item-floating-label aido-input" ng-class="p.selected ? 'modal-select-blank' : 'modal-select'" style="margin-top:5px;" >
              <button type="button" class="button-clear button-positive" ng-class="p.selected ? 'ms-after' : 'ms-before'" modal-select="" ng-model="p.selected" options="medicines" modal-title="Medicamentos" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" has-search="true" search-placeholder="Buscar..." cancel-search-button="Limpiar" can-add="true" on-select="addMedicine(newValue, oldValue)" on-not-found="setFlag(data)">
              Medicamento

                <div class="option">
                  {{option.name}}
                </div>
              </button>

              <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
              <br>
            </label>
            <p class="item-floating-label aido-input">{{p.selected.name}}</p>

            </label>


            <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Dosis</span>
              <textarea ng-class="{ 'add-border': (!prescriptionItem.dose) }" name="dose" ng-model="p.dose" placeholder="Dosis"></textarea>
            </label>

            <label class="item item-input item-floating-label aido-input">
              <span class="input-label">Indicaciones</span>
              <textarea ng-class="{ 'add-border': (!prescriptionItem.indication) }" name="indication" ng-model="p.indication" placeholder="Indicaciones"></textarea>
            </label>
          </div>
        </ion-list>
      </div>
    </div>

    <div class="row" style="width: 85%; margin: 0 auto;">
      <div class="col">
        <div class="text-left" style="height: 30px;font-size: 30px; color: #3C3C3C;"><i ng-click="addRecipe()" class="icon ion-plus my-icon"></i></div>
        <a ng-if="prescription.items.length " ng-click="newPrescription()" class="button button-positive button-block button-outline btn-bold">Recetar</a>
      </div>
    </div>

  </ion-content>
</ion-view>
