<ion-view title="Recuperar contraseña">

  <ion-nav-buttons side="right" class="has-header">
  </ion-nav-buttons>

  <ion-content padding="false" class="has-header">
    <form name="contactForm" ng-submit="submitForm(contactForm.$valid)" novalidate>
      <div class="creator-container">
        <div class="row">
          <div class="col">
            <img src="main/assets/images/aido_logo.png" class="img-responsive img-50 center">
          </div>
        </div>

        <div class="row" style="width: 90%; margin: 0 auto;">
          <div class="col">
            <ion-list>
              <label class="item item-input item-floating-label aido-input">
                <span class="input-label">Email</span>
                <input ng-class="{ 'add-border': (!contact.email) }" type="text" ng-model="contact.email" placeholder="Email" required>
              </label>

            </ion-list>
          </div>
        </div>

        <div class="row" style="width: 90%; margin: 0 auto;">
          <div class="col">
            <button type="submit" ng-disabled="!contact.email" class="button button-positive button-block button-outline btn-bold">Enviar</button>
          </div>
        </div>

      </div>
    </form>
  </ion-content>
</ion-view>
