<ion-view title="Registro">
  <ion-content padding="true" class="has-header">

    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
      <div class="creator-container">
        <div class="row">
          <div class="col">
            <img ng-src="{{extra.defaultAvatar}}" class="img-responsive center mt-10" style="width: 25%;" on-tap="showImages();">
            <span style="display: block; text-align: center; margin-top: 4px; font-size: 12px; color: #387ef5; font-style: italic;">selecciona imagen</span>
          </div>
        </div>

        <div class="row" style="width: 90%; margin: 0 auto;">
          <div class="col">
            <ion-list>

              <label class="item item-input item-floating-label aido-input" ng-class="registerForm.role.type ? 'modal-select-blank' : 'modal-select'">
                <button click-trigger type="button" class="button-clear button-positive"  ng-class="registerForm.role.type ? 'ms-after' : 'ms-before'"  modal-select="" ng-model="registerForm.role" options="roles" modal-title="Tipo de Cuenta" header-footer-class="bar-positive modal-format" cancel-button="Cancelar" hide-reset="true" on-select="switchImages()">
                  Tipo de Cuenta
                  <div class="option">
                    {{option.type}}
                  </div>
                </button>
                <i class="icon ion-arrow-down-b" style="color: #387ef5;"></i>
                <br>
              </label>
              <p class="item-floating-label aido-input">{{registerForm.role.type}}</p>


              <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (userForm.name.$invalid && visitedNombre) }">
                <span class="input-label">Nombre</span>
                <input ng-class="{ 'add-border': (!registerForm.nombre) }" ng-blur="visitedNombre = true" type="text" name="name" ng-model="registerForm.nombre" placeholder="Nombre" required focus-next>
                <span ng-if="userForm.name.$invalid && visitedNombre" class="help-block">Tu nombre es requerido.</span>
              </label>

              <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (userForm.apellido.$invalid && visitedApellido) }" >
                <span class="input-label">Apellido</span>
                <input ng-class="{ 'add-border': (!registerForm.apellido) }" ng-blur="visitedApellido = true" name="apellido" type="text" ng-model="registerForm.apellido" placeholder="Apellido" required focus-next>
                <span ng-if="userForm.apellido.$invalid && visitedApellido" class="help-block">Tu apellido es requerido.</span>
              </label>

              <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (userForm.email.$invalid  && visitedEmail) }">
                <span class="input-label">Correo electrónico</span>
                <input ng-class="{ 'add-border': (!registerForm.email) }" ng-blur="visitedEmail = true" name="email" type="email" ng-model="registerForm.email" placeholder="Correo electrónico" required focus-next>
                <span ng-if="userForm.email.$invalid  && visitedEmail" class="help-block">Tu correo es invalido/requerido</span>
              </label>

              <label class="item item-input item-floating-label aido-input" ng-class="{ 'error': (userForm.pass.$invalid && visitedPass) }">
                <span class="input-label">Contraseña</span>
                <input ng-class="{ 'add-border': (!registerForm.pass) }" name="pass" ng-blur="visitedPass = true" type="password" ng-model="registerForm.pass" placeholder="Contraseña" required>
                <span ng-if="userForm.pass.$invalid && visitedPass" class="help-block">Una contraseña es requerida.</span>
              </label>

            </ion-list>
          </div>
        </div>

        <div class="row padding-top-30" style="width: 90%; margin: 0 auto;">
          <div class="col">
            <button type="submit" ng-disabled="userForm.$invalid" class="button button-positive button-block button-outline btn-bold">Siguiente</button>
          </div>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
