<ion-view title="Búsqueda Por:">


  <ion-content padding="false" class="has-header">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="creator-container">
      <div class="button-bar">
        <button class="button button-block tabbed-button" ng-class="{ 'button-positive': searchMode == 'name', 'button-calm': searchMode != 'name' }" on-tap="findMedics('name')">{{ dictionary.name }}</button>
        <button class="button button-block tabbed-button" ng-class="{ 'button-positive': searchMode == 'specialty', 'button-calm': searchMode != 'specialty' }" on-tap="findMedics('specialty')">{{ dictionary.specialty }}</button>
      </div>
      <div class="list list-inset" style="margin: 0;">
        <label class="item item-input" style="border: 0; border-bottom: 2px solid #387ef5;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Buscar..." ng-model="model.searchTerm" ng-change="search()">
        </label>
      </div>
    </div>


    <div class="creator-container">

      <ion-list ng-if="searchMode == 'name'">
        <ion-item ng-repeat="m in medicos" class="item item-avatar item-button-right" ng-click="goToMedic(m.id)" style="border: 0;">
          <img ng-src="{{m.profile.defaultAvatar}}">
          <h2>{{m.name}} {{m.lastname}}</h2>
          <span class="tag" ng-repeat="specialty in m.specialties">{{specialty.name}} </span>
          <button class="button button-small button-positive button-outline preciosDoctores" style="margin-top: 10px;">
            {{ m.rate | currency:"MXN $" }}
          </button>
        </ion-item>
      </ion-list>

      <ion-list ng-if="searchMode == 'specialty'">
        <div ng-repeat="s in especialidades">
          <ion-item class="item item-divider" style="border: 0;">{{s.name}}</ion-item>
          <ion-item ng-repeat="m in s.doctors" class="item item-avatar item-button-right" ng-click="goToMedic(m.id)" style="border: 0;">
            <img ng-src="{{m.profile.defaultAvatar}}">
            <h2>{{m.name}} {{m.lastname}}</h2>
            <!-- <span class="tag" ng-repeat="specialty in m.specialties">{{specialty.name}} </span> -->
            <button class="button button-small button-positive button-outline preciosDoctores" style="margin-top: 10px;">
              {{ m.rate || 0 | currency:"MXN $" }}
            </button>
          </ion-item>
        </div>
      </ion-list>

      <h4 class="text-center" ng-if="!medicos.length">No se encontraron médicos disponibles</h4>
    </div>

  </ion-content>
</ion-view>
