<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Seleccionar Imagen</h1>
    <button class="button button-clear button-light" ng-click="modal.hide()">Cerrar</button>
  </ion-header-bar>
  <ion-content>
    <div ng-repeat="arr in arrOfArr">
      <div class="row" style="width: 90%; margin: 0 auto; justify-content: center;">
        <img ng-repeat="a in arr track by $index" on-tap="selectImage(a);" ng-src="{{a}}" style="border: 0; width: 60px; height: 60px; border-radius: 0; margin: 4px;">
      </div>
    </div>
  </ion-content>
</ion-modal-view>
