<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Especialidades</h1>
    <button class="button button-clear button-light" ng-click="modal.hide()">Cerrar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label ng-repeat="especialidad in especialidades">
        <ion-checkbox class="checkbox-positive" ng-model="especialidadesSeleccionadas[[especialidad.id]]">{{especialidad.name}}</ion-checkbox>
      </label>
      <button class="button button-full button-positive btn-bold" ng-click="modal.hide()">Agregar</button>
    </div>
  </ion-content>
</ion-modal-view>
