<ion-modal-view>
  <ion-header-bar class="bar-light">
    <h1 class="title">Síntomas</h1>
    <button class="button button-clear button-calm" ng-click="modal.hide()">Cerrar</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label ng-repeat="s in symptoms">
        <ion-checkbox ng-checked="s.checked" class="checkbox-calm" ng-model="s.checked" on-tap="selectSymptom(s)">{{s.name}}</ion-checkbox>
      </label>

      <label class="item item-input">
        <span class="input-label">Tiempo de evolución: </span>
        <input type="text" name="evolucion" placeholder="2hrs" ng-model="newCaso.evolution">
      </label>

      <button class="button button-full button-calm" ng-click="modal.hide()">Agregar</button>
    </div>
  </ion-content>
</ion-modal-view>
